h1 {
    color: white;
    
    font-size: 50px;
    color: black;
}
p {
    color: black;
}
body {
    background-color: gray;
}

h1 {
    margin: 0;
}
button {
    text-transform: capitalize;
    border: none;
    background-color: #d80606;
    color: #fff;
    padding: 10px 15px;
}

button:hover {
    color: white;
    background:green;
}
 h1:hover {
     color: blue
 }

div {
    color: #ffff;
    padding: 70px;
    background-color: white;
}